*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
  }
/* HomePage*/
  #HomePage{
    background-color: #ffd5c7;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
/*Logo*/
.logo{
    width:125px;
    height: 125px;
    position: relative;
    margin-right: 2rem;
    align-items: center;
    display: flex;
}
.logo h1{
    font-size: 25px;
    font-weight: 500;
    color:black;
}
/*MENU*/
.taskbar{
    position: absolute;
    width: 100%;
}
.bar{
    background-color: #b2222200;
    min-height: 7.7rem;
    height: auto;  
    font-size: 25px;
    font-family: "Quicksand", cursive;
    font-optical-sizing: auto;
    font-style: normal;

    
}
#taskbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }
.taskbar > div > ul li{
    list-style: none;
    margin-right: 2rem;
    justify-content: space-between;
    display: flex;
    
}
.left-menu{
    display: flex;
    align-items: center;
}
.taskbar > div > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap:50px;
}
.middles{
    display: flex;
}
.shop:hover .bar {
    cursor: pointer;
    background-color: red;
    padding-top: 2rem;
    height: 20rem;
}
/*MENe*/
#menuzz {
    position: fixed;
    top: 0;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    background-color: white; /* Optional: make sure menu is visible */
  }
  
  .hidden {
    transform: translateY(-100%); /* Moves the menu off the top of the viewport */
  }

/*BANNER*/
.banners    {
    width: 100%;
    height: 57rem;
    background-image: linear-gradient(rgba(44, 44, 44, 0.5), rgba(0, 0, 0, 0.5)),url("https://static.vecteezy.com/system/resources/thumbnails/001/349/622/small_2x/bubble-tea-in-milk-splash-advertisement-banner-free-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner-text{
    text-align: center;
}
.banner-text h1{
    font-family: "Noto Sans", serif;
    color: whitesmoke;
}
.banner-text span{
    font-family: "Noto Sans", serif;
    font-weight: 350;
    color: white;
}
/*SEARCH*/
.search-bar{
    background-color: rgba(245, 245, 245, 0);
}
.search-bar input{
    width: 40rem;
    border-style: none;
    background-color: #03243300;
    border-bottom-style: solid;
    font-size: 20px;
}
/*MILK TEA ABOUT*/
.milktea-about{
    width: 50%;
    padding-left: 20px;
}
.milktea-banner{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/*MILKSHAKE ABOUT*/
.milkshake-about{
    background-color: red;
    width: 50%;
}
/*MENU INSIDE*/
.inside-menu{
    width: 100%;
}
.container-menu{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.right-choice {
    display: flex;
    gap: 20px;
    animation: appearlogo 0.5s forwards;
}
.right-choice >div{
    height: 14rem;
    width: 14rem;
    border-radius: 10px;
    padding: 10px;
    background-color: antiquewhite;
}
.left-choice{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
    animation: appearlogo 0.5s forwards;
    background-color: blanchedalmond;
    border-color: #3b9cc9;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
}
.left-choice >div ul li{
    list-style: none;
}
.left{
    display: flex;
    flex-direction: column;
    font-size: 11px;
    gap: 50px;
}
.left-choise >div button{
    background-color: red;
}
.left >div{
    background-color: #032433;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 0px 2px #595238;
}

.right{
    display: flex;
    flex-direction: column;
    font-size: 11px;
    gap: 50px;
}
.right >div{
    background-color: #032433;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 0px 2px #595238;
}
/*UP*/
.up{
    background-color: rgb(88, 87, 87);
    border-radius: 50%;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 20px;
    right: 20px;
}
.up:hover{
    background-color: rgb(110, 110, 110);
}
@keyframes appeardown {
    from { height: 2.5rem; }
    to { height: 25rem; }
}
@keyframes appearup{
    from { height: 25rem; }
    to { height: 2.5rem; }
}
@keyframes appearlogo{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes smalltobig{
    from{
        opacity: 0;
        scale: 0.1;
    }
    to{
        opacity: 1;
        scale:1;
    }
}
@keyframes righttoleft{
    from {
        width: 20%;
    }
    to {
        width: 68%;
    }
}
/*===============================*/



/*===============================*/


.class{
    color: forestgreen;
    display: flex;
    
}



/*===============================*/
.div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 15rem;
    padding-top: 10rem;
}

/*Card 1*/
.theme {
    display: flex;
    align-items: center;
    width: 68%;
    height: 20rem;
    background-color: #3b9cc9;
    margin-left: 10rem;
    transform-origin: right;
    animation: righttoleft 0.5s forwards;
}

.card{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    position: absolute ;
}
.card img{
    transform: translateX(-100px);
    height: 30rem;
    width: 30rem;
    animation: smalltobig 0.5s forwards;
}

.wakamo{
    height: 250px;
    width: 275px;
    position: absolute;
}
.theme2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 20rem;
    background-color: #3b9cc9;
    margin-left: 10rem;
    padding: 1rem;
    box-sizing: border-box;
}

.milktea-about2 {
    flex: 1;
    padding-left: 2rem;
}

.card2 {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.car2 img {
    height: 250px;
    width: 275px;
}

/*SECTOR*/
.sector-1{
    background-color: rgb(250, 145, 145);
    height: 35rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sector-2{
    background-color: rgb(250, 145, 145);
    height: 35rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sector-3{
    background-color: rgb(250, 145, 145);
    height: 35rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sector-4{
    background-color: rgb(250, 145, 145);
    height: 35rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sector-5{
    background-color: rgb(250, 145, 145);
    height: 35rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/*comment*/
.comment-sector{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20rem 0px 20rem;
    height: 100%;
    width: 100%;
}
.comment-left{
    height: 90%;
    width: 65%;
    background-color: red;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
.comment-text{
    padding: 40px 20px 20px 20px;
}
.comment-next{
    display: flex;
    gap: 5px;
    padding-left: 10px;
}
.next-left{
    background-color: whitesmoke;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.next-right{
    background-color: whitesmoke;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.where{
    background-color: rebeccapurple;
    height: 25%;
    padding-left: 20px;
    border-bottom-left-radius: 20px;
}
.comment-right{
    height: 90%;
    width: 50%;
    background-color: rgb(240, 238, 238);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
/*MIDDLE*/
.shake-1 {
    display: flex;
    justify-content: space-between;
    height: 20rem;
    width: 68%;
    background-color: #3b9cc9;
    transform-origin: right;
    animation: righttoleft 0.5s forwards;
}
.shake-about{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shake-img img{
    width: 30rem;
    height: 30rem;
    position: absolute;
    margin-left: 4rem;
    transform: translateY(-75px);
    animation: smalltobig 0.5s forwards;
}
.middle{
    display: flex;
    justify-content: flex-end;
    margin-right: 10rem;
    
}
/*card2*/

.yunaispink{
    width: 275px;
    height: 245px;
}

/*FOOTERS*/
.foot-container{
    background-color: rgb(245, 79, 79);
    display: flex;
    padding: 20px;
}
.banner span{
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.banner{
    margin-bottom: 20px;
}
.foot-container >div{
    height: 15rem;
    width: 20rem;
}
.social img{
    height: 40px;
    width: 40px;
    
}
.stores ul li{
    list-style: none;
    margin-bottom:15px;
    font-family:'Courier New', Courier, monospace;
}
.stores{
    
}

/*Under line from html*/
a:visited{
    color: #FFD5C7;
}
a{
    text-decoration: transparent;
}
